/*** Habilidades */
#skills .card {
  background-color: #f8f8f8;
  border: 1px solid #b79e9e26;
  border-radius: 10px;

  height: 100%;

  padding: 10px;
}

#skills .card-img-top {
  width: 160px;
  margin: auto;
}

#skills .card-body {
  padding: 0;
}

#skills .card-title {
  font-size: 18px;
  font-weight: 700;
  color: #120e0e;

  text-align: center;

  margin: 15px 0;
}

#skills .card-list li {
  font-size: 14px;
}

/* Formação */
#formation .list-group-item {
  background-color: #fff8f8;
  border-radius: 10px;

  margin-top: 15px;
  border: 1px solid #455a6412;
}

#formation .formation-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#formation .title-item {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.4px;
  margin: 0;
}
