/*** Habilidades */
#skills .card {
  background-color: #f8f8f8;
  border: 1px solid #b79e9e26;
  border-radius: 10px;

  height: 100%;

  padding: 10px;
}

#skills .card-img-top {
  width: 160px;
  margin: auto;
}

#skills .card-body {
  padding: 0;
}

#skills .card-title {
  font-size: 18px;
  font-weight: 700;
  color: #120e0e;

  text-align: center;

  margin: 15px 0;
}

#skills .card-list li {
  font-size: 14px;
}

/* Formação */
#formation .progress {
  height: 25px;
  margin-bottom: 20px;
}

#formation .progress-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #31aaf0;
  color: white;
}
