/*** Gerais */
body {
  font-family: "Roboto", sans-serif;
}

.container-custom {
  margin: 50px auto;
}

/*** Header */
#mainHeader {
  background-color: #fdfdfd;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

/** Logo */
#mainHeader .navbar-brand {
  font-family: "Source Sans Pro", sans-serif;
}

/** Menu Principal */
#navbarMainMenu .nav-link {
  font-family: "Roboto", sans-serif;

  font-size: 0.9rem;

  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 700;

  color: #0d0d0df4;
}

/* Alterar color do link ativo */
#navbarMainMenu .nav-link.active {
  color: #000000;
}

/* Alterar cor do link ao passar o mouse */
#navbarMainMenu .nav-link:hover {
  color: #121111ae;
}

/* Criar um conteúdo vazio após o link ativo */
#navbarMainMenu .nav-link.active:after {
  content: "";
  display: block;
  background-color: #afc9a7;
  width: 100%;
  height: 2px;
}
/*** Fim Header */

/*** Conteúdo */
.title-section {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;

  text-align: center;
  font-weight: 800;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  margin-bottom: 25px;
}

.list-no-style {
  margin: 0;
  padding: 0;

  list-style: none;
}

/** Mensagem do Bootstrap */
#toast {
  position: relative;
}

.toast-container {
  min-height: 50px;
}
/*** Fim Conteúdo */

/*** Rodapé */
footer {
  background-color: #6c6a70;
  padding: 15px;
}

.text-footer {
  font-size: 18px;
  color: #f8e6e6;
  text-align: center;
  margin: 0;
}

/*** Media Queries */
@media (min-width: 1200px) {
  .container-custom {
    max-width: 1000px;
  }
}

/* Media Queries (Tablets ou menor) */
@media (max-width: 767.98px) {
  /* Fazendo mensagem ficar centralizada no final da página */
  .toast-container {
    bottom: 10px;
    left: 0;
    margin: auto;
  }
}
